body {
    font-family: 'Outfit', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #e478a1;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .logo {
    font-size: 2.5em;
    font-weight: bold;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.about-us h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
    color: #e478a1;
}

.about-us h2 {
    font-size: 1.8em;
    margin-top: 30px;
    color: #333;
}

.about-us-text {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #e478a1;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

a {
    color: #e478a1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
